# Default owners for everything in the repo, unless a later match takes precedence

# Testing edit 

# Phoenix owns the files under blacklist thingies 
/tg_bot/modules/blacklistusers.py
/tg_bot/modules/sql/blacklistusers_sql.py

